In [1]:
a = 5
print(a)

5

In [2]:
print(a+1)
print(a-1)
print(a*2)
print(a/2)

6
4
10
2.5

In [3]:
print(a**2)

25

In [4]:
print(a//2)

2

In [5]:
print(a//5)

1

In [6]:
print(a//10)

0

In [7]:
print(type(a))

<class 'int'>

In [8]:
t = True 
f = False

In [9]:
print(type(t))

<class 'bool'>

In [10]:
print(t and f)
print(t or f)
print(not t)
print(t != f)

False
True
False
True

In [11]:
print("Hello World")
print('Hello World')

Hello World
Hello World

In [17]:
print("""Hello 
   World!!!""")

Hello
   World!!!

In [31]:
#print(f"the value is {a}")  ##recomanded
#print("the value is "+ str(a))
#print("the value is {}".format(a))
print("the value is %d and squre of %d is %d"% (a,a,a**2)) ##recomanded

the value is 5 and squre of 5 is 25

In [25]:
print('What is your name?')
name = input()
#print('Hi '+ name + '!')
print(f"Hi {name}!")

What is your name?
Sadika
Hi Sadika!

# Else if

In [32]:
if a>0:
    print("positive")
elif a<0:
     print("negative")
else:
     print("Zero")

positive

In [36]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [38]:
for i in range(11,3,-2):
    print(i)

11
9
7
5